 /* Reset */
    :root {
      --backGreen: #b5e3c9;
      --backWhite: #fdf8f0;
      --primaryRed: #800200;
      --secondaryYellow: #b5e3c9;
      --accentPurple: #A78DED;
      --textBlack: #140025;
      --imgWidth: 380px;
      --imgHeight: 250px;
      --imgPadding: 0px;
      --imgSizingFORSAKE: calc(var(--imgWidth) + var(--imgPadding));
      --nextNprevSize: 50px;
    }
    * {
      box-sizing: border-box;
    }
    section {
  scroll-margin-top: 120px; /* altura da nav + margem extra */
    }
    body {
      margin-top: 100px;
      margin: 0;
      font-family: Georgia, serif;
      background-color: #19755e;
      color: var(--textBlack);
    }
    nav {
      position: fixed;
      top: 0; left: 0;
      width: 100%;
      height: 120px;
      background-color: var(--backWhite);
      border-bottom: 2px solid var(--accentPurple);
      display: flex;
      align-items: center;
      padding-left: 7%;
      gap: 40px; /* espaço entre links */
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      z-index: 3000;
      margin-bottom: 20px;
    
    }
    nav a {
      color: var(--primaryRed);
      font-size: 18px;
      text-decoration: none;
      white-space: nowrap;
      padding: 10px 15px; /* mais espaço interno */
      border-radius: 5px;
      transition: background-color 0.3s;
      margin-bottom: 20px;
      padding-top: 20px;
      display: inline;
    }
    nav a:hover {
      background-color: var(--secondaryYellow);
      text-decoration: underline;
      margin-bottom: 20px;
      padding-top: 20px;
    }
    main#base {
      /*margin: 100px auto 0; /* Empurra main pra baixo do nav */
      max-width: 900px;
      margin: 0 auto;
      background-color: var(--backWhite);
      padding: 30px 40px;
      border-radius: 8px;
      box-shadow: 0 0 8px rgba(0,0,0,0.1);
      margin-bottom: 200px;
      padding-top: 120px;
    }
    main#base h1 {
      margin-top: 10;
      font-size: 32px;
      border-bottom: 2px solid var(--textBlack);
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
    main#base p {
      font-size: 18px;
      line-height: 1.6;
      margin-top: 20px;
      color: #333;
      margin-bottom: 20px;
      padding-top: 20px;
    }
      * {box-sizing:border-box}
div#CarouselBase{
    margin: 0 auto;
    display: grid;
    grid-template-rows: 250px auto 0px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    font-family: 'Poppins', sans-serif;
}
.item img {
    text-align: center;
    border: 3px solid black;
    border-radius: 20px;
    position: absolute;
    height: var(--imgHeight);
}

main#carousel {
    display: flex;
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --position: 1;
    --images: 5;
}
.prev, .next{
  transform-origin: 50% 50%;
  height: var(--nextNprevSize);
  width: var(--nextNprevSize);
  overflow: visible;
  grid-row: 3 / 4;
  grid-column: 4 / 5;
  border-radius: 50%;
  background-color: var(--secondaryYellow);  
}
.next{
  transform: translate(calc((var(--imgWidth))/2), calc(var(--imgHeight)/-2 - var(--nextNprevSize)));
}
.prev{
  transform: translate(calc((var(--imgWidth))/-2 - 40px), calc(var(--imgHeight)/-2 - var(--nextNprevSize)));
}

div.item {
    transform-origin: 50% 50%;
    background-color: white;
    --r: calc(var(--position) - var(--offset));
    --otherside: calc(clamp(0, calc(var(--r) - 3), 1) + clamp(-1, calc(var(--r) + 3), 0));
    --CurrentPos: calc(var(--r) - (var(--images)*var(--otherside)) );
    --abs: max(calc(var(--CurrentPos) * -1), var(--CurrentPos));
    --positiveChecker: calc(((var(--CurrentPos) + var(--abs))) / 2 );
    
    --scaleXYZ: calc((var(--abs)) * -0.2 + 1);
    --positiveDifference: calc(var(--positiveChecker) * var(--imgSizingFORSAKE) * (1 - var(--scaleXYZ)));
    --rotateY: calc(-10deg * var(--CurrentPos) );
    --translateX: calc( -1 * (var(--imgSizingFORSAKE)) * var(--CurrentPos) + 206px + var(--positiveDifference));
    transition: all 0.25s ease-in-out;
    transform:  rotateY(calc(var(--rotateY) * 0))
                translateX(calc(var(--translateX) * 1)) 
                scale(calc(var(--scaleXYZ) * 1 + 0));
    z-index: calc((var(--position) - var(--abs))); 
/*    counter-reset: test var(--CurrentPos);*/
}
/*
.item p::before{
}*/
div.item:nth-of-type(1) {
    --offset: 1;
}
div.item:nth-of-type(2) {
    --offset: 2;
}
div.item:nth-of-type(3) {
    --offset: 3;
}
div.item:nth-of-type(4) {
    --offset: 4;
}
div.item:nth-of-type(5) {
    --offset: 5;
}

input.SelectorInputo:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

input.SelectorInputo:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
}

input.SelectorInputo:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
input.SelectorInputo:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
}

input.SelectorInputo:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}
input.SelectorInputo:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
}

input.SelectorInputo:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}
input.SelectorInputo:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
}

input.SelectorInputo:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}
input.SelectorInputo:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
}
